# Stop lombok from looking for config files in parent directories
config.stopBubbling = true

# Add @Generated annotation to generated methods
lombok.addLombokGeneratedAnnotation = true

# Add null annotations
lombok.addNullAnnotations = spring # Change to JSpecify once we're on Lombok 1.18.38+

# Ensure proper equals and hashCode handling with inheritance
lombok.equalsAndHashCode.callSuper = call

# Flag usage of certain features
lombok.experimental.flagUsage = error
lombok.sneakyThrows.flagUsage = warning
lombok.val.flagUsage = error
lombok.cleanup.flagUsage = error
